* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

#app {
  overflow: hidden;
  height: 100vh;
  overflow-y: scroll;
  text-align: center;
  align-content: center;
}

#app .logo img {
  width: 300px;
}

#app .search {
  position: relative;
}

#app .search input {
  outline: none;
  width: 550px;
  height: 45px;
  font-size: 18px;
  padding-left: 12px;
  padding-right: 16px;
}

#app .search button {
  width: 108px;
  height: 48px;
  border: transparent;
  border-radius: 0 10px 10px 0;
  margin-left: -5px;
  background-color: #4e6ef2;
}

#app .search button a {
  color: #fff;
  font-size: 18px;
}

#app ul {
  position: relative;
  margin: -2px auto;
  right: 54px;
  text-align: left;
  border-top: none;
  border-radius: 0px 0px 10px 10px;
  width: 578px;
}

#app ul li {
  line-height: 50px;
}

#app ul li a {
  display: block;
  text-indent: 1em;
}

#app ul li a:hover {
  color: #315efb;
  background: #f5f6f9;
}

.focus {
  border: 1px solid #4e6ef2;
}
